<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="pathToFolderBranaC" value="D:\FTP\Brana C"/>
		<add key="pathToFolderBranaE" value="D:\FTP\Brana E"/>
		<add key="pathToFileLog" value="D:\FTP\Log.txt"/>
		<add key="connectionString" value="Data Source=172.16.1.5;Initial Catalog=auto_mail;User ID=spz;Password=brana"/>
	</appSettings>
</configuration>