<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sqlConnectionString" value="@&#34;Data Source=172.16.1.5;Initial Catalog=auto_mail;User ID=spz;Password=brana"/>
		<add key="cestaKeSlozceBranaC" value="C:\fotobrany\C\"/>
		<add key="cestaKeSlozceBranaE" value="C:\fotobrany\E"/>
		<add key="cestaKLogSouboru" value="C:\fotobrany\PrujezdyBranami_Log.txt"/>
	</appSettings>
</configuration>
<!--pri zadavani cest ke slozce/souboru - vzdy pouzit dve zpetne lomitka \\ !-->